body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}


.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
    padding: 45px;
    border-bottom: 1px solid #EAEAEA;
    h3, p {margin: 0} 
}

.content {
  h1 {margin: 0}
}

.card {
  padding: 30px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  width: 220px;
  h5 {
    font-weight: 400;
    font-size: 14px;
  }
  span {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
  }

  b {
    font-weight: 700;
    font-size: 14px;
  }

  .button{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 8px;
    width:32px;
    height:32px;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

}

